{% extends 'base.html' %}

{% block content %}
<div class="journal-entries-list-container">
  {% for entry in entries %}
    <div class="journal-entry-list-card">
      <div class="journal-entry-list-date">{{ entry.date|date:"n/j/Y" }}</div>
      <div class="journal-entry-list-text truncate-text">{{ entry.journal_entry }}</div>
    </div>
  {% empty %}
  <div id="no-entry-cta">
    <p>No journal entries found. Why not try adding one in your daily log?</p>

    <a href="/daily-entries/create/" class="card home log-nav" id="home-daily">
        <span>Log</span>
        <i class="bi-card-checklist"></i>
        <p>Log a daily entry</p>
    </a>
</div>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const journalEntryCards = document.querySelectorAll('.journal-entry-list-card');
  
    journalEntryCards.forEach(function(card) {
      card.addEventListener('click', function() {
        const textDiv = card.querySelector('.journal-entry-list-text');
        textDiv.classList.toggle('truncate-text');
      });
    });
  });
  
</script>
{% endblock %}
