{% extends 'base.html' %}  <!-- Extend your base template -->

{% block content %}
  <div id="intro-text">
    <h2>Update your settings</h2>
    <p>Chose which lifestyle factors you'd like to track. Only the factors you select here will appear as options on your daily log.</p>
  </div>
  <div>
    <h3 id="user-settings-track-text">Track:</h3>
  </div>
  <form method="post" id="user-settings-form">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save</button>
  </form>
{% endblock %}