{% extends "base.html" %}
{% block content %}

{% load static %}

<div id="logo-img-container">
    <img id="logo-img" src="{% static 'img/logo.png' %}" alt="">
</div>

<h1 class="home">Welcome to Insight</h1>
<div id="welcome-text">
    <h3>Emotional literacy, analysis and wellbeing</h3>
    <p>Gain deeper emotional insights by articulating and tracking your feelings against lifestyle factors, empowering you to build emotional awareness and take charge of your mental wellness.</p>
</div>

<form id="login-form" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="login-btn" type="submit" value="Log in">Log in</button>
</form>

<div id="signup-cta">
    <p>Don't have an account yet?</p> 
    <a href="{% url 'signup' %}"><button id="signup-button">Sign up</button></a>
</div>


{% endblock %}