{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insight</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <a href="{% url 'home' %}" class="logo">
      Insight
    </a>
    <div class="view-title">View Title</div>
    <nav>
      <div id="hamburger-menu">☰</div>
      <div id="nav-grid">
        <a href="">Home</a>
        <a href="">Logger</a>
        <a href=""><i class="bi bi-calendar2-range"></i>Timeline</a>
        <a href=""><i class="bi bi-journal-bookmark"></i> Journals</a>
        <a href=""><i class="bi bi-gear"></i> Settings</a>
        <a href="">Logout</a>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <div>Insight &copy; {% now "Y" %}</div>
    {% comment %} TODO: Move links to somewhere sensible {% endcomment %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'sandbox' %}">View Wheel</a></li>
    <form method="post" action="{% url 'logout' %}" id="logout-form">
      {% csrf_token %}
      <li><a href="javascript:{}" onclick="document.getElementById('logout-form').submit();">logout</a></li>
    </form>
  {% else %}
    <li><a href="{% url 'login' %}">Log In</a></li>
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
  {% endif %}
  </footer>
</body>

<script>
  const hamburgerMenu = document.getElementById("hamburger-menu");
  
  hamburgerMenu.addEventListener("click", toggleNav);
  hamburgerMenu.addEventListener("touch", toggleNav);

  function toggleNav() {
    const navGrid = document.getElementById("nav-grid");
    if (navGrid.style.opacity == '0' || navGrid.style.opacity == '') {
      navGrid.style.opacity = '1';
    } else {
      navGrid.style.opacity = '0';
    }
  }
  
</script>

</html>