{% extends "base.html" %}
{% block content %}

<h1 class="home">Welcome to Insight</h1>

<div id="home-cards">
    <a href="" class="card home" id="home-daily">
        <span>Daily</span>
        <i class="bi-card-checklist"></i>
    </a>
    <a href="" class="card home" id="home-journal">
        <span>Journal</span>
        <i class="bi bi-journal-bookmark"></i>
    </a>
    <a href="" class="card home" id="home-timeline">
        <span>Timeline</span>
        <i class="bi bi-calendar2-range"></i>
    </a>
    <a href="" class="card home" id="home-settings">
        <span>Settings</span>
        <i class="bi bi-gear"></i>
    </a>
</div>

{% endblock %}