{% extends "base.html" %}
{% block content %}

<h1 class="home">Welcome to Insight</h1>
<div id="welcome-text">
    <h3>Emotional literacy, analysis and wellbeing</h3>
    <p>Gain deeper emotional insights by articulating and tracking your feelings against lifestyle factors, empowering you to build emotional awareness and take charge of your mental wellness.</p>
</div>

<div id="home-cards">
    <a href="" class="card home log-nav" id="home-daily">
        <span>Log</span>
        <i class="bi-card-checklist"></i>
        <p>Log a daily entry</p>
    </a>
    <a href="/timeline" class="card home timeline-nav" id="home-timeline">
        <span>Timeline</span>
        <i class="bi bi-calendar2-range"></i>
        <p>Analyze your trends</p>
    </a>
    <a href="/journal-entries" class="card home journals-nav" id="home-journal">
        <span>Journal</span>
        <i class="bi bi-journal-bookmark"></i>
        <p>Read your journal</p>
    </a>
    <a href="/user-settings" class="card home settings-nav" id="home-settings">
        <span>Settings</span>
        <i class="bi bi-gear"></i>
        <p>Adjust your settings</p>
    </a>
</div>

{% endblock %}