{% extends "base.html" %}
{% block content %}

{% load custom_filters %}

{% if render_timeline %}

    <section id="timeline">
        <div id="lifestyle-selector">
            <form id="lifestyle-selector-form" method="post" action="{% url 'process_lifestyle_selector' %}">
                {% csrf_token %}
                <select id="dropdown-menu" name="lifestyle-selector" onchange="changeLifestyle();">
                    <option value="" disabled selected>Select</option>
                    {% for lifestyle in tracked_lifestyles%}
                        <option value="{{ lifestyle }}">{{ lifestyle }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div id="emotions-timeline">
            <table id="emotions-table">
                <thead>
                    <tr>
                        <td></td>
                        {% for emotion in emotion_categories %}
                            <td style="background-color: {{ emotion.timeline_color }};"></td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for date in date_list %}
                        <tr>
                            <td>{{ date }}</td>
                            {% for emotion in emotion_categories %}
                                {% if emotion.name in emotions_by_date|get_emotions:date %}
                                    <td style="background-color: {{ emotion.timeline_color }};"></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}    
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
        <div id="lifestyle-timeline">
            <table id="lifestyle-table">

            </table>
        </div>
    </section>

{% endif %}

<script>
    function changeLifestyle() {
        document.getElementById("lifestyle-selector-form").submit();
        document.getElementById("dropdown-menu").firstElementChild.disabled = true;
    }
</script>

{% endblock %}