{% extends 'base.html' %}
{% block content %}

{% include "main_app/includes/emotion-wheel.html" %}

<div id="log-header">
    {% if form_type == 'create' %}
        <div id="create-log-head">
            <h2>Create Daily Log</h2>
        </div>
    {% else %}
        <div class="log-head" id="day-of-week">{{ dailyentry.date|date:"D" }}</div>
        <div class="log-head" id="date">
            {{ dailyentry.date|date:"M" }}
            {{ dailyentry.date|date:"j" }},
            {{ dailyentry.date|date:"Y" }}
        </div>
    {% endif %} 
</div>

<div id="log-header">
    
</div>

<section id="emotion-selection">
    <div id="select-emotion-container">
        <button class="update-log-add-emotion" id="toggle-wheel" onclick="toggleCanvas()">Select Emotions</button>
    </div>
    <div class="emotion-display-container">
        <div id="display-single-emotion">
            {% for emotion in object.emotion.all %}
                <button class="emotion-display" style="background-color: {{ emotion.color }}">{{ emotion.name }}<i class="bi bi-x-circle-fill remove-icon"></i></button>
            {% endfor %}
        </div>
    </div>
</section>

<div id="pro-tip">
    <h3>Pro tip!</h3>
    <p>Select which lifestyle factors you track in your User Settings.</p>
</div>

<form method="post" id="update-log-form">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="emotion" id="emotion-input">
    
<div class="log-footer">
    {% if form_type == 'create' %}
        <button type="submit" class="log-foot">CREATE</button>
    {% else %}
        <button type="submit" class="log-foot">UPDATE</button>
    {% endif %}
    </div>
</form>


<script>
    
    function easeInOut(t) {
            return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
        }

    function animateMove(element, start, end, duration) {
        let range = end - start;
        let startTime = performance.now();

        function move(currentTime) {
            let elapsedTime = currentTime - startTime;
            let fraction = elapsedTime / duration;
            let easeFraction = easeInOut(fraction);

            let nextPosition = start + range * easeFraction;

            if (elapsedTime < duration) {
                element.style.left = nextPosition + 'px';
                requestAnimationFrame(move);
            } else {
                element.style.left = end + 'px';
            }
        }

        requestAnimationFrame(move);
    }

    function toggleCanvas() {
        const canvas = document.getElementById('wedgeCanvas');
        const toggleBtn = document.getElementById('toggle-wheel');
        let currentLeft = parseInt(window.getComputedStyle(canvas).left, 10);
        if (currentLeft === -550) {
            animateMove(canvas, -550, -265, 750); // 750ms to move from -530px to -265px
            toggleBtn.innerText = 'Hide Wheel';
        } else {
            animateMove(canvas, -265, -550, 500); 
            toggleBtn.innerText = 'Select Emotions';
        }
    }

    function handleRemoveIcon(event) {
        if (event.target.classList.contains('remove-icon')) {
            event.preventDefault();
            let emotionDisplay = event.target.closest('.emotion-display');
            let emotionName = emotionDisplay.textContent.trim();
            let idToRemove = emotionNameIDMap[emotionName];

            emotionDisplay.remove();
            selectedEmotionsIDs = selectedEmotionsIDs.filter(id => id !== idToRemove);
        }
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        const emotionContainer = document.getElementById('display-single-emotion');
        emotionContainer.addEventListener('click', handleRemoveIcon);
        emotionContainer.addEventListener('touchstart', handleRemoveIcon);
    });

    document.getElementById('update-log-form').addEventListener('submit', function(event) {
        document.getElementById('emotion-input').value = selectedEmotionsIDs.join(',');
    });    
    
      
</script>

{% endblock %}
