{% extends 'base.html' %}
{% block content %}

<h2>Daily Entry {% if form_type == 'create' %}Create{% else %}Update{% endif %}</h2>

<form method="post" id="update-log-form">
    {% csrf_token %}
    {{ form }}
    
    {% if form_type == 'create' %}
        <button type="submit">Create</button>
    {% else %}
        <button type="submit">Update</button>
        <a class="log-foot link" id="delete" href="{% url 'daily-entry-delete' dailyentry.date %}">DELETE</a>
    {% endif %}
</form>

{% endblock %}
