:root {
    --darkmode-background: #5B5B5B;
    --lightmode-background: ;
    --darkmode-header: #404040;
    --lightmode-header: ;
    --darkmode-menu: #404040;
    --lightmode-menu: ;
    --darkmode-darktext: #5B5B5B;
    --lightmode-darktext: ;
    --darkmode-lighttext: #D9D9D9;
    --lightmode-lighttext: ;
    --darkmode-card: #D9D9D9;
    --lightmode-card: ;
    --darkmode-button: ;
    --lightmode-button: ;
    --darkmode-button-active: #3B3B3B;
    --lightmode-button-active: ;
    --logo-font: 'Dosis', sans-serif;
    --header-font: 'Dosis', sans-serif;
    --base-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    background-color: var(--darkmode-background);
    font-family: var(--base-font);
    color: var(--darkmode-lighttext);
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkmode-header);
    z-index: 100;
}

.header-left {
    flex: 1;
    text-align: left;
}

.header-center {
    flex: 2;
    text-align: center;
}

.header-right {
    flex: 1;
    text-align: right;
}

main {
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    z-index: 10;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header-font);
}

button {
    border: none;
    border-radius: 10px;
    background-color: var(--darkmode-button);
    transition: all 0.25s ease;
}

button:active {
    background-color: ;
}

canvas {
    position: absolute;
    left: -275px;
    top: 50%;
    margin-top: -275px;
    border-radius: 50%;
}

canvas:hover {
    cursor: pointer;
}

.logo {
    font-family: var(--logo-font);
    font-weight: 200;
    font-size: 28px;
    color: var(--darkmode-lighttext);
    text-decoration: none;
}

.view-title {
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 36px;
}

.card {
    background-color: var(--darkmode-card);
    transition: all .25s ease;
    width: 8em;
    height: 8em;
    margin: 1em;
    border-radius: .4em;
    color: var(--darkmode-darktext);
}

.card:hover {
    cursor: pointer;
    background-color: var(--darkmode-button-active);
}

.toggle-on {
    background-color: ;
}

.toggle-off {
    background-color: ;
}

h1.home {
    text-align: center;
}

#home-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card.home {
    background-color: var(--darkmode-card);
    color: var(--darkmode-darktext);
    text-align: center;
    text-decoration: none;
}

.card.home i {
    position: relative;
    display: block;
    font-size: 4em;
    margin-bottom: 0;
}

.card.home p {
    position: relative;
    margin: .3em;
}

.card.home:hover {
    border: .2em solid var(--darkmode-button-active);
}

.card.home:hover span {
    display: none;
}

#home-daily:hover::before {
    content: "Log a daily entry";
}

#home-journal:hover::before {
    content: "View your journal entries";
}

#home-timeline:hover::before {
    content: "See your timeline";
}

#home-settings:hover::before {
    content: "Adjust user settings";
}

#hamburger-menu {
    font-size: 36px;
    color: var(--darkmode-lighttext);
    cursor: pointer;
}

#nav-grid {
    position: absolute;
    right: 0;
    width: 110px;
    display: none;
    opacity: 0;
    flex-wrap: wrap;
    gap: 5px;
    background-color: rgba(64, 64, 64, 0.8);
    border-radius: 10px;
    margin: 10px 5px;
    padding: 5px;
    transition: all 0.25s ease;
}

#nav-grid a {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
    background-color: #D9D9D9;
    text-decoration: none;
    color: var(--darkmode-darktext);
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.nav-icon {
    font-size: 48px;
}

#timeline {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto;
    grid-template-areas:
        ". lifestyle-selector"
        "emotions-timeline lifestyle-timeline";
    row-gap: 10px;
    column-gap: 10px;
}

#lifestyle-selector {
    grid-area: lifestyle-selector;
}

#emotions-timeline {
    grid-area: emotions-timeline;
}

#lifestyle-timeline {
    grid-area: lifestyle-timeline;
}

#emotions-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    font-size: 14px;
    text-align: right;
}

#emotions-table tr {
    height: auto;
}

#emotions-table thead tr {
    height: 20px;
}

#emotions-table td:first-child {
    width: 100px;
    padding-right: 5px;
}

#emotions-table td:not(:first-child) {
    width: calc((100% - 100px) / 8);
}

#emotions-table td:not(:first-child) {
    border: 1px solid grey;
}

.cta {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.cta .card {
    margin: 0;
}

#log-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--darkmode-header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.log-foot {
    background-color: var(--darkmode-background);
    color: var(--darkmode-lighttext);
    text-decoration: none;
    font-size: 14px;
    padding: .5em 1em .5em 1em;
    margin-bottom: 1em;
    border-radius: .4em;
    text-decoration: none;
    height: 2em;
}

#log-main {
    margin-bottom: 3em;
}

#journal-entry {
    margin: 1em;
    margin-bottom: 2em;
    padding: .5em 1em .5em 1em;
    background-color: var(--darkmode-card);
    color: var(--darkmode-darktext);
    border-radius: 8px;
}

#journal-entry-show-more-btn {
    display: inline;
    border: .12em solid var(--darkmode-darktext);
    background-color: var(--darkmode-card);
    color: var(--darkmode-background);
    border-radius: .4em;
    cursor: pointer;
    margin-left: 1em;
    font-size: large;
}

#journal-entry-text {
    background-color: var(--darkmode-darktext);
    color: var(--darkmode-lighttext);
    border-radius: 0 0 .4em .4em;
    padding: .2em 1em .3em 1em;
}

.journal-entries-list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.journal-entry-list-card {
    background-color: var(--darkmode-card);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: var(--darkmode-darktext);
}

.journal-entry-list-date {
    text-align: center;
    border-radius: 15px 15px 0 0;
    padding: 10px 20px;
    font-weight: bold;
    margin: -20px -20px 10px -20px;
    color: var(--darkmode-darktext);
    border-bottom: 2px solid #000;
}

.journal-entry-list-text {
    text-align: center;
    display: block;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}