:root {
    --darkmode-background: #5B5B5B;
    --lightmode-background: ;
    --darkmode-header: #404040;
    --lightmode-header: ;
    --darkmode-menu: #404040;
    --lightmode-menu: ;
    --darkmode-darktext: #5B5B5B;
    --lightmode-darktext: ;
    --darkmode-lighttext: #D9D9D9;
    --lightmode-lighttext: ;
    --darkmode-card: #D9D9D9;
    --lightmode-card: ;
    --darkmode-button: ;
    --lightmode-button: ;
    --darkmode-button-active: ;
    --lightmode-button-active: ;
    --logo-font: 'Dosis', sans-serif;
    --header-font: 'Dosis', sans-serif;
    --base-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    background-color: var(--darkmode-background);
    font-family: var(--base-font);
    color: var(--darkmode-lighttext);
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkmode-header);
    z-index: 100;
}

main {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    z-index: 10;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header-font);
}

button {
    border: none;
    border-radius: 10px;
    background-color: var(--darkmode-button);
    transition: all 0.25s ease;
}

button:active {
    background-color: ;
}

canvas {
    position: absolute;
    left: -275px;
    top: 50%;
    margin-top: -275px;
    border-radius: 50%;
}

canvas:hover {
    cursor: pointer;
}

.logo {
    font-family: var(--logo-font);
    font-weight: 200;
    font-size: 28px;
}

.view-title {
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 36px;
}

.hamburger {
    font-size: 36px;
    color: var(--darkmode-lighttext);
}

.card {
    background-color: var(--darkmode-card);
    transition: all .25s ease;
}

.toggle-on {
    background-color: ;
}

.toggle-off {
    background-color: ;
}