<canvas id="wedgeCanvas" width="530" height="530"></canvas>

<script>
const canvas = document.getElementById("wedgeCanvas");
const ctx = canvas.getContext("2d");
const smallestCircleRadius = 90; // Reference for the smallest circle radius
const circles = [];

fetch('/api/emotions/') 
  .then(response => response.json())
  .then(data => {
    const innerWedges = [];
    const middleWedges = [];
    const outerWedges = [];

    data.forEach(topLevelEmotion => {
      // Add the top-level emotion to the inner wedge
      innerWedges.push({
        id: topLevelEmotion.id,
        name: topLevelEmotion.name,
        color: topLevelEmotion.color,
        timeline_color: topLevelEmotion.timeline_color
      });

      // Process children (middle-level emotions)
      topLevelEmotion.children.forEach(childEmotion => {
        middleWedges.push({
          id: childEmotion.id,
          name: childEmotion.name,
          color: childEmotion.color,
          timeline_color: childEmotion.timeline_color
        });

        // Process grandchildren (outer-level emotions)
        childEmotion.children.forEach(grandChildEmotion => {
          outerWedges.push({
            id: grandChildEmotion.id,
            name: grandChildEmotion.name,
            color: grandChildEmotion.color,
            timeline_color: grandChildEmotion.timeline_color
          });
        });
      });
    });

    // Define properties for three concentric circles
    circles.push({radius: smallestCircleRadius * 3, wedges: outerWedges})
    circles.push({radius: smallestCircleRadius * 2, wedges: middleWedges})
    circles.push({radius: smallestCircleRadius, wedges: innerWedges})

    // Draw each circle with its wedges
    circles.forEach((circle, index) => {
      drawWedges(circle, index, circles);
    });
  })
  .catch(error => console.error('Error:', error));

function getTextRadius(circleRadius, index, circles) {
  if (index === circles.length - 1) {
    // For the smallest circle
    return circleRadius * 0.5; // Center text in the middle of its radius
  } else {
    const outerRadius = circleRadius;
    const innerRadius = circles[index + 1].radius; // Get the next smaller circle's radius
    return innerRadius + (outerRadius - innerRadius) * 0.5; // Center text in the visible area
  }
}

function drawWedges(circle, index, circles) {
  let startAngle = 0;
  const center = { x: canvas.width / 2, y: canvas.height / 2 };
  const totalSize = circle.wedges.reduce(
    (total, wedge) => total + (wedge.size || 1),
    0
  );

  const textRadius = getTextRadius(circle.radius, index, circles);

  circle.wedges.forEach((wedge) => {
    const wedgeSize = wedge.size || 1;
    const wedgeAngle = (2 * Math.PI * wedgeSize) / totalSize;

    ctx.beginPath();
    ctx.moveTo(center.x, center.y);
    ctx.arc(
      center.x,
      center.y,
      circle.radius,
      startAngle,
      startAngle + wedgeAngle,
      false
    );
    ctx.closePath();

    // Fill the wedge
    ctx.fillStyle = wedge.color;
    ctx.fill();

    // Stroke the wedge border
    // ctx.strokeStyle = "grey"; // You can change this to any color you want
    // ctx.lineWidth = 1; // You can change the border thickness here
    // ctx.stroke(); // This adds the border to the wedge

    // Text setup
    const textAngle = startAngle + wedgeAngle / 2;

    ctx.save();
    ctx.translate(center.x, center.y);
    ctx.rotate(textAngle);

    ctx.textAlign = "center";
    ctx.textBaseline = "middle";
    const fillTextX = textRadius;

    ctx.font = "14px";
    ctx.fontFamily = "'Montserrat', sans-serif;"
    ctx.fillStyle = "#111";
    ctx.fillText(wedge.name, fillTextX, 0);

    ctx.restore();

    startAngle += wedgeAngle;
  });
}

var n = 82;
var offset = 0;

// Helper function to convert coordinates to polar
function getPointerPos(canvas, event) {
  const rect = canvas.getBoundingClientRect();
  let clientX = event.clientX;
  let clientY = event.clientY;

  if (event.touches) {
    clientX = event.touches[0].clientX;
    clientY = event.touches[0].clientY;
  }

  return {
    x: clientX - rect.left,
    y: clientY - rect.top
  };
}

function getAngleAndRadius(x, y, center) {
  const angle = Math.atan2(y - center.y, x - center.x);
  const radius = Math.sqrt((x - center.x) ** 2 + (y - center.y) ** 2);
  return { angle, radius };
}

function findClickedWedge(x, y, currentRotation) {
  const center = { x: canvas.width / 2, y: canvas.height / 2 };
  const { angle, radius } = getAngleAndRadius(x, y, center);

  for (let i = circles.length - 1; i >= 0; i--) {
    const circle = circles[i];
    let startAngle = 0;
    const totalSize = circle.wedges.reduce((total, wedge) => total + (wedge.size || 1), 0);

    for (const wedge of circle.wedges) {
      const wedgeSize = wedge.size || 1;
      const wedgeAngle = (2 * Math.PI * wedgeSize) / totalSize;
      const adjustedStartAngle = (startAngle + currentRotation) % (2 * Math.PI);
      const endAngle = (adjustedStartAngle + wedgeAngle) % (2 * Math.PI);

      // Normalize angles to a 0-2*PI range
      const normStart = (adjustedStartAngle + 2 * Math.PI) % (2 * Math.PI);
      const normEnd = (endAngle + 2 * Math.PI) % (2 * Math.PI);
      const normMouseAngle = (angle + 2 * Math.PI) % (2 * Math.PI);

      if (
        radius <= circle.radius &&
        radius > (circles[i + 1] ? circles[i + 1].radius : 0) &&
        ((normStart < normEnd && normMouseAngle >= normStart && normMouseAngle <= normEnd) ||
         (normStart > normEnd && (normMouseAngle >= normStart || normMouseAngle <= normEnd)))
      ) {
        return {
          id: wedge.id,
          name: wedge.name,
          color: wedge.color,
          timeline_color: wedge.timeline_color
        };
      }

      startAngle += wedgeAngle;
    }
  }

  return null;
}


let isDragging = false;
let startAngle = 0;
let currentRotation = 0;
const dragThreshold = 5; // pixels
let dragStartPos = null;
let selectedEmotionsIDs = [];
let emotionNameIDMap = {};

function handleStart(event) {
  event.preventDefault();
  isDragging = false;
  dragStartPos = getPointerPos(canvas, event);
  const { angle } = getAngleAndRadius(dragStartPos.x, dragStartPos.y, { x: canvas.width / 2, y: canvas.height / 2 });
  startAngle = angle - currentRotation;
}

function handleMove(event) {
  event.preventDefault();
  const currentPos = getPointerPos(canvas, event);
  if (dragStartPos) {
    isDragging = true;
    const { angle } = getAngleAndRadius(currentPos.x, currentPos.y, { x: canvas.width / 2, y: canvas.height / 2 });
    currentRotation = angle - startAngle;
    redrawWheel();
  }
}

function handleEnd(event) {
  event.preventDefault();
  if (!isDragging) {
    const mousePos = getPointerPos(canvas, event.changedTouches ? event.changedTouches[0] : event);
    const clickedWedge = findClickedWedge(mousePos.x, mousePos.y, currentRotation);
    if (clickedWedge) {
      if (clickedWedge.name == "Comfortable" || clickedWedge.name == "Uncomfortable") {
        return
      } else {
        let displayEmotion = document.getElementById('display-single-emotion');
        let existingEmotions = displayEmotion.getElementsByClassName('emotion-display');
        let alreadyExists = Array.from(existingEmotions).some(button => button.textContent.includes(clickedWedge.name));

        if (!alreadyExists) {
          displayEmotion.innerHTML += `<button class="emotion-display" style="background-color: ${clickedWedge.color}">${clickedWedge.name} <i class="bi bi-x-circle-fill remove-icon"></i></button>`;
          selectedEmotionsIDs.push(clickedWedge.id);
          emotionNameIDMap[clickedWedge.name] = clickedWedge.id;
        }
      }
    }
  }
  isDragging = false;
  dragStartPos = null;
}

canvas.addEventListener('mousedown', handleStart);
canvas.addEventListener('mousemove', handleMove);
canvas.addEventListener('mouseup', handleEnd);

canvas.addEventListener('touchstart', handleStart, { passive: false });
canvas.addEventListener('touchmove', handleMove, { passive: false });
canvas.addEventListener('touchend', handleEnd, { passive: false });


function redrawWheel() {
  ctx.clearRect(0, 0, canvas.width, canvas.height); // Clear the canvas

  ctx.save();
  ctx.translate(canvas.width / 2, canvas.height / 2);
  ctx.rotate(currentRotation);
  ctx.translate(-canvas.width / 2, -canvas.height / 2);

  circles.forEach((circle, index) => {
    drawWedges(circle, index, circles);
  });

  ctx.restore();
}

</script>